extends ../../layout

block content
  .container
    .row
      .col-xs-12
        nav.breadcrumb.ph-3.small.uppercase
          a.b.item(href=`/`) INICIO
          a.b.item(href=`/preference-tracks`) PREFERENCIA-TRACKS

  .container
    p Welcome to to #{userProfile.email}!
    h1 Selecciona los tracks que te interesan:
    .hr.mb-5.mt-2
    .row.justify-content-center
      .col-xs-12.col-md-6
        .white.br-1.rd-0-2
          .p-3
            .msg.error#form-results
            .row
              form.col-xs-12(id="preferencesForm" action=config.apiUrl+`/controllers/preferences-tracks-controller/` method="post" data-error="#form-results")
                table(style='width:100%', border='1')
                    tr
                        th Id
                        th idhash
                        th Nombre
                        th Me interesa o no
                    each variable in artists
                        tr
                            td #{variable.id}
                            td #{variable.music_track_id}
                            td #{variable.music_track_name}
                            td 
                                input(type='checkbox' value=`${variable.music_track_name}` name='artists')
                .row
                  .col-xs-12.tr
                    button.primary.w-100-xs(type="submit") Guardar preferencias
          .p-3.brt-1
            a(href="/cerrar-sesion") Cerrar sesión